@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 10px 20px;
  line-height: 1.6;
}


h3 {
  position: relative; 
  text-align: center;
}

#prompt {
  position: relative;
  top: 8px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
  overflow: auto;
}

#btn {
  position: relative;
  top: 0px;
  width: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: blue;
  font-size: 16px;
}
